/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 15px;
  color: aliceblue;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.section {
  background-color: #2a9d8f;
  margin: 15px 0 15px 0;
  padding: 5px;
  display: flex;
}

.box {
  background-color: #264653;
  padding: 10px;
  margin: 5px;
}

.section-1 {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-2 {
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.section-3 {
  flex-direction: column-reverse;
}

.section-4 {
  justify-content: space-between;
}

.section-5 {
  flex-direction: column;
  align-items: center;
}
